.form {
  display: flex;
  align-items: center;
}

.input {
  width: 30%;
  height: 35px;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;

  font: inherit;
  font-size: inherit;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.btn {
  width: 65px;
  height: 35px;

  font-size: inherit;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}
